// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #409eff
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #67c23a
$negative  = #f56c6c
$info      = #909399
$warning   = #e6a23c
$toolbar-min-height = 30px
$toolbar-padding = 0 6px
$body-font-size   = 12px
$button-font-size  = 12px
$toolbar-title-font-size  = 13px
$input-font-size  = 12px
$body-line-height = 1.2
// @import '~quasar-variables-styl'
